<script props>
  module.exports = {
    // Content
    image: props.image || '',
    alt: props.alt || props['image-alt'] || '',
    // Layout
    width: props.width || '600',
    maxHeight: props['max-height'] || '',
    objectFit: props['object-fit'] || 'cover',
    radius: props.radius || '0',
    padding: props.padding || '',
    align: props.align || '',
    // Border
    borderColor: props['border-color'] || '',
    borderWidth: props['border-width'] || '0px',
    borderStyle: props['border-style'] || 'none',
  };
</script>

<tr>
  <td style="line-height: 0;{{ align ? ' text-align: ' + align + ';' : '' }}{{ padding ? ' padding: ' + padding + ';' : '' }}{{ borderColor ? ' border: ' + borderWidth + ' ' + borderStyle + ' ' + borderColor + ';' : '' }}">
    <img
      src="{{ image }}"
      alt="{{ alt }}"
      width="{{ width }}"
      style="display: block; width: 100%; height: auto; border: 0;{{ maxHeight ? ' max-height: ' + maxHeight + '; object-fit: ' + objectFit + ';' : '' }}{{ radius !== '0' ? ' border-radius: ' + radius + ';' : '' }}"
    />
  </td>
</tr>
