<script props>
  module.exports = {
    image: props.image || '',
    alt: props.alt || props['image-alt'] || '',
    width: props.width || '600px',
    maxHeight: props['max-height'] || '',
    radius: props.radius || '0',
    padding: props.padding || '',
    borderColor: props['border-color'] || '',
    borderWidth: props['border-width'] || '0px',
    borderStyle: props['border-style'] || 'none',
    borderTopColor: props['border-top-color'] || '',
    borderTopWidth: props['border-top-width'] || '',
    borderTopStyle: props['border-top-style'] || '',
    borderRightColor: props['border-right-color'] || '',
    borderRightWidth: props['border-right-width'] || '',
    borderRightStyle: props['border-right-style'] || '',
    borderBottomColor: props['border-bottom-color'] || '',
    borderBottomWidth: props['border-bottom-width'] || '',
    borderBottomStyle: props['border-bottom-style'] || '',
    borderLeftColor: props['border-left-color'] || '',
    borderLeftWidth: props['border-left-width'] || '',
    borderLeftStyle: props['border-left-style'] || '',
    get borderCss() {
      const sides = [
        { side: 'top', color: this.borderTopColor, width: this.borderTopWidth, style: this.borderTopStyle },
        { side: 'right', color: this.borderRightColor, width: this.borderRightWidth, style: this.borderRightStyle },
        { side: 'bottom', color: this.borderBottomColor, width: this.borderBottomWidth, style: this.borderBottomStyle },
        { side: 'left', color: this.borderLeftColor, width: this.borderLeftWidth, style: this.borderLeftStyle },
      ];
      const perSide = sides
        .filter((entry) => entry.color)
        .map((entry) => (
          ' border-' + entry.side + ': '
          + (entry.width || this.borderWidth || '1px') + ' '
          + (entry.style || this.borderStyle || 'solid') + ' '
          + entry.color + ';'
        ))
        .join('');
      if (perSide) return perSide;
      return this.borderColor
        ? ' border: ' + this.borderWidth + ' ' + this.borderStyle + ' ' + this.borderColor + ';'
        : '';
    },
    mWidth: props['m:width'] || '',
    mMaxHeight: props['m:max-height'] || '',
    mRadius: props['m:radius'] || '',
    mPadding: props['m:padding'] || '',
    scopeClass: 'loomi-c' + (props['component-index'] || '0'),
    get responsiveCss() {
      const rules = [];
      const scope = '.' + this.scopeClass + ' ';
      if (this.mWidth) rules.push(scope + '.loomi-image { max-width: ' + this.mWidth + ' !important; }');
      if (this.mMaxHeight) rules.push(scope + '.loomi-image { max-height: ' + this.mMaxHeight + ' !important; }');
      if (this.mRadius) rules.push(scope + '.loomi-image { border-radius: ' + this.mRadius + ' !important; }');
      if (this.mPadding) rules.push(scope + '.loomi-image-td { padding: ' + this.mPadding + ' !important; }');
      return rules.join(' ');
    },
    get imageStyle() {
      let style = 'display: block; width: 100%; max-width: ' + this.width + '; height: auto; border: 0; outline: none; text-decoration: none;';
      if (this.maxHeight) style += ' max-height: ' + this.maxHeight + ';';
      if (this.radius && this.radius !== '0') style += ' border-radius: ' + this.radius + ';';
      if (this.borderCss) style += this.borderCss;
      return style;
    },
  };
</script>

<if condition="responsiveCss">
  <style>
    @media screen and (max-width: 600px) {
      {{{ responsiveCss }}}
    }
  </style>
</if>

<if condition="image">
  <tr class="{{ scopeClass }}">
    <td class="loomi-image-td" align="center" style="{{ padding ? 'padding: ' + padding + ';' : '' }}">
      <img
        class="loomi-image"
        src="{{ image }}"
        alt="{{ alt }}"
        style="{{ imageStyle }}"
      />
    </td>
  </tr>
</if>
